* {
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  --bs-body-font-family: "PT Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  min-height: 100vh;
}

#startpage,
#loginpage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45)),
    url("../img/NordNetzwerk.eu_-_FR_Stettbeck.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#startpage__footer,
#loginpage__footer {
  opacity: 0.6;
  font-size: 0.8rem;
}

#nav__main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 6px solid red;
}

#nav__main .nav-link {
  padding: 8px 18px;
  margin: 0 5px;
  border-radius: 0;
  background: #f6f9fc;
  border-bottom: 2px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease;

  &:hover {
    background: #0a2540;
    color: white;
  }
}

#nav__main .nav-link.active {
  background: #0a2540;
  color: white;
}

#nav__main .nav-link.disabled {
  background: transparent;
  border-bottom-color: transparent;
  box-shadow: none;
}

#main {
  background: linear-gradient(135deg, #0000 20.5%, #f6f9fc 0 29.5%, #0000 0) 0
      22.5px,
    linear-gradient(45deg, #0000 8%, #f6f9fc 0 17%, #0000 0 58%) 45px 0,
    linear-gradient(
      135deg,
      #0000 8%,
      #f6f9fc 0 17%,
      #0000 0 58%,
      #f6f9fc 0 67%,
      #0000 0
    ),
    linear-gradient(
      45deg,
      #0000 8%,
      #f6f9fc 0 17%,
      #0000 0 58%,
      #f6f9fc 0 67%,
      #0000 0 83%,
      #f6f9fc 0 92%,
      #0000 0
    ),
    #f0f5fa;
  color: #0a2540;
}

.header__above {
  margin-bottom: 0;
  font-weight: bolder;
  margin-left: 15px;
}

#footer__hover {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 0.8rem;
}

#breadcrumbs__main {
  background: #f6f9fc;
}

#breadcrumbs__main a,
#breadcrumbs__main a:hover {
  text-decoration: underline;
  color: inherit;
}

.page__spacer-red {
  background-color: red;
  width: 100vw;
  height: 4px;
}

#hero {
  background-image: url(../img/RTW_Bild.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#main .text__container {
  font-size: 1.1rem;

  a {
    color: inherit;
    text-decoration-style: dotted;
    font-weight: bold;
  }
}

.text__important {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 0, 0, 0.3);
    cursor: pointer;
  }
}

.text__heading {
  position: relative;
}

.text__heading-foreground {
  position: relative;
  z-index: 2;
}

.text__heading-backdrop {
  position: absolute;
  color: rgba(10, 37, 64, 0.15);
  font-size: 8.5rem;
  top: -55px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bolder;
  z-index: 0;
}

.usercard__base {
  background: #d2d9e0;
  position: relative;
  overflow: hidden;

  img {
    border-radius: 50%;
    border: 4px solid #0a2540;
  }
}

.usercard__base-deco {
  position: absolute;
  color: #0a2540;
  opacity: 0.2;
  bottom: -65px;
  right: -50px;
  font-size: 200px;
  z-index: 1;
}

.usercard__data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.usercard__position {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.usercard__data-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usercard__data-button {
  background-color: #0a2540;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 17px;
  border: 1px solid #0f3b66;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0f3b66;
  }
}

::selection,
::-moz-selection {
  background-color: #0a2540;
  color: white;
}

.learning__card {
  // background-color: #0a2540;
  background: linear-gradient(to right bottom, #0a2540 0 60%, #0f3b66 100%);
  color: white;
  outline: 4px solid #0a2540;
  border: 3px solid #0f3b66;

  .learning__card-icon {
    text-align: center;
    font-size: 3rem;

    i {
      padding: 24px;
      border-radius: 50%;
      border: 4px solid white;
      transition: all 0.3s ease;
    }
  }

  .learning__card-header h4 {
    font-weight: bolder;
  }

  .learning__card-button {
    text-align: end;

    a {
      color: #0a2540;
      background-color: white;
      text-decoration: none;
      border-radius: 0;
      padding: 8px 16px;
      transition: font-size 0.3s ease;
    }
  }
}

.learning__card:hover .learning__card-icon i {
  background-color: white;
  color: #0a2540;
}

.learning__welcome {
  font-size: 1.7rem;
}

.learning__stats {
  background: linear-gradient(to right bottom, #f0f5fa 0 60%, #f6f9fc 100%);
  color: #0a2540;
  outline: 4px solid #f6f9fc;
  border: 3px solid #0f3b66;

  .learning__stats-number {
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
  }

  .learning__stats-description {
    text-align: center;
  }
}

.learning__container a {
  text-decoration: none;
  color: inherit;
}

.learning__container .learning__card-header {
  text-align: center;
}

.learning__container .learning__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.learning__question-container {
  .learning__question {
    font-size: 2rem;
    input[type="checkbox"] {
      transform: scale(3);
    }
  }
  .learning__question-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
